<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CADSharp.SolidWorks.AddIns" version="2019.0.0" targetFramework="net452" />
  <package id="CADSharp.SolidWorksTools" version="2018.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="DryIoc.dll" version="3.0.2" targetFramework="net452" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.16" targetFramework="net452" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net452" />
  <package id="Prism.DryIoc" version="7.1.0.431" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net452" />
</packages>